<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chumpchange"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

	<!-- notifications -->   
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
   <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <!-- for most things, including card.io & paypal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_main_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.chumpchange.MainActivity"
            android:label="@string/chump_change_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName="com.example.chumpchange.MainActivity"
            android:name="com.example.chumpchange.AllBudgetsActivity"
            android:label="@string/all_budgets_title" >
        </activity>
        <activity
            android:parentActivityName="com.example.chumpchange.MainActivity"
            android:name="com.example.chumpchange.SetupActivity"
            android:label="@string/setup_title" >
        </activity>
        <activity
            android:parentActivityName="com.example.chumpchange.AllBudgetsActivity"
            android:name="com.example.chumpchange.SummaryActivity"
            android:label="@string/summary_title" >
        </activity>
        
        <service android:name="com.paypal.android.sdk.payments.PayPalService"
        		 android:exported="false" />
		
		<activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
		<activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
		<activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
		<activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
		<activity android:name="io.card.payment.CardIOActivity"
		          android:configChanges="keyboardHidden|orientation" />
		<activity android:name="io.card.payment.DataEntryActivity" />
        
		<receiver android:name=".IntervalEndReciever"/>
		
		<!--  
		<receiver android:name="RebootReciever" >
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED">
      			</action>
		    </intent-filter>
		</receiver>
		-->
		
    </application>

<category android:name="android.intent.category.DEFAULT" />    
    
</manifest>
